{% extends "layouts/main" %}

{% block body %}
  <div class="caic">
    <section class="caic-pageHero">
      <div class="caic-container">
        <h1 class="caic-h1">{{ entry.title }}</h1>
      </div>
    </section>
  </div>
{% endblock %}
